<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> CAR PRICE PREDICTION </h1><br>
        
        <form method="POST", action="/predict">
           <b> wheelbase :  <input type="text", name='wheelbase', placeholder="enter 1"> <br><br>
            curbweight :  <input type="text", name='curbweight', placeholder="enter 2"> <br><br>
            enginesize :  <input type="text", name='enginesize', placeholder="enter 3"> <br><br><br></b>
            citympg :  <input type="text", name='citympg', placeholder="enter 4"> <br><br>
            highwaympg :  <input type="text", name='highwaympg', placeholder="enter 5"> <br><br>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>
